<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="uk.co.workingedge.RNLaunchNavigator">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>
</manifest>
